@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 32px;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
}
