@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 32px;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
}

body{
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ff0004;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff0004;
}